block variables

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Congratulations!
        link(rel='stylesheet' href='assets/styles/main.min.css')
    body
        .wrapper
            .container
                .content
                    .banner
                        .offer
                            .offer__line
                                .offer__text You winner!
                                .offer__shadow You winner!
                            .offer__line.offer__line_big
                                .offer__text $10,000!
                                .offer__shadow $10,000!
                        .timer
                            span#time 05:00
                        .button
                            button.button__image(type = "button") Забрать сейчас
                        .warning 
                            .warning__text You have just 5 minutes to get the prize!
                            .warning__shadow You have just 5 minutes to get the prize!
                    .registration
                        <iframe class="registration__frame" src="https://olymptrade.com/lands/affiliate-new-form-v2/index.html?inp_color=ff8f14&square=true&text_form_color=255-143-20-0.2&" ></iframe>
        block scripts
            script(src='./assets/scripts/index.bundle.js')