body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    line-height: 1.42;
    color: $text-color;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    position: relative;
    background: url(../images/bg/bg_coins.png) center center no-repeat, url(../images/bg/bg.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.container {
    display: flex;
    align-items: center;
    width: 675px;
    height: 100vh;
    margin: 0 auto;
    @include widescreen {

    }
    @include tablets {

    }
    @include phones {

    }
}