
@font-face {
    font-family: 'panton';
    src: url('../fonts/panton_black_caps.woff2') format('woff2'),
         url('../fonts/panton_black_caps.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'pantonNarrow';
    src: url('../fonts/panton_narrow_black_caps.woff2') format('woff2'),
         url('../fonts/panton_narrow_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

