.button {
    
    @include widescreen {

    }
    @include tablets {

    }
    @include phones {

    }
}
.button__image{
    padding:25px;
    font-size:50px;
    text-transform: uppercase;
    color:#fff;
    background-color: #ffbf3c; // Old browsers
    background-image:linear-gradient(top, #ffbf3c 0%, #ff2c14 27%, #ff2c14 76%,#ffbf3c 100%);
    border-radius:30px;
    border: none;
    transition: transform 0.3s;
    cursor: pointer;
   
    &:focus {
        outline: none;
    }
    &:active {
        transform: scale(0.95)
    }
}