.content {
    font-family: 'panton', Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width:100%;
    

    @include widescreen {
        
    }
    @include tablets {
       
    }
    @include phones {
        
    }
}


.timer {
   
    @include widescreen {
      
    }
    @include tablets {
     
    }
    @include phones {
       
    }
}

.button {
 
    @include widescreen {
        
    }
    @include tablets {

    }
    @include phones {

    }
}