.offer {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: 6.5625rem;
    position:relative;
    
    @include widescreen {
       
    }

    @include tablets {
       
    }
    @include phones {
       
    }
}
.offer__line{
    position: relative;
    width:100%;
    height:1.42em;
    display: flex;
    justify-content:center;
}
.offer__text {
    position: absolute;
    color:transparent;
    background-color: #ffeece;
    background-image: linear-gradient(top, #ffeece 3%,#ffb95c 72%,#ffa439 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index:1;
}
.offer__shadow{
    position: absolute;
    color:#d25902;
    top:2px;
}