.registration {
    display:none;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 2;
    width:63%;
    height:50%;
    align-self:flex-end;

    &__frame {
        width:100%;
        height:100%;
        border: transparent;
    }
    @include phones {
        position:absolute;
        width:240px;
        height:320px;
    }
}